<link rel="import" href="bower_components/polymer/polymer-element.html">

<!-- icons -->
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/iron-icon/iron-icon.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="bower_components/iron-iconset-svg/iron-iconset-svg.html">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- end of icons -->

<!-- buttons -->
<link rel="import" href="bower_components/paper-button/paper-button.html">
<!-- end of buttons -->

<!-- modal -->
<link rel="import" href="bower_components/paper-dialog/paper-dialog.html">
<!-- end of modal -->

<!-- fonts -->
<link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,300,300italic,400italic,500,500italic,700,700italic"
  crossorigin="anonymous">

<dom-module id="paper-modal-sit">
  <template>
    <style>
      p {
        font-size: 18px;
        font-family: 'Roboto';
        text-align: center;
      }

      paper-button {
        width: 3rem;
        height: 2rem;
      }

      #myIcon {
        width: 4rem;
        height: 4rem;
        cursor: pointer;
      }

      .status {
        display: flex;
        justify-content: center;
      }

    </style>

    <div class="main">

      <paper-dialog id="show" modal>
        <template is="dom-if" if="[[content]]">

          <div class="status">
            <iron-icon icon="{{checkIcon(content)}}" id="myIcon"></iron-icon>
          </div>

          <div class="text">
            <p>[[content.text]]</p>
          </div>

          <div class="buttons">
            <template is="dom-repeat" items="[[content.button]]" as="button">

              <paper-button raised on-click="_clickButton" id="buttons">
                [[button.text]]
              </paper-button>

            </template>
          </div>
        </template>
        
      </paper-dialog>
    </div>
  </template>

  <script>
    /**
     * `paper-modal-sit`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PaperModalSit extends Polymer.Element {
      static get is() {
        return 'paper-modal-sit';
      }
      static get properties() {
        return {
          content: {
            type: Object,
            observer: 'changeContent',
          }
        };
      }

      _show() {
        this.$.show.open();
      }

      _close() {
        this.$.show.close();
      }

      changeContent(data){
        let status = data.status.toUpperCase();
        if(status == 'OPEN'){
          this._show();
        }
        if(status == 'CLOSE'){
          this._close();
        }
      }

      _clickButton(event) {
        let modelButton = event.model.button;
        this.dispatchEvent(new CustomEvent('click-button', {
          // detail: {...modelButton},
          detail: JSON.parse(JSON.stringify(modelButton)),
        }));
      }

      checkIcon(data){
        let icon = 'icons:'
        switch(data.type){
          case 'success':
            icon += 'check-circle';
          break;
          case 'error':
            icon += 'cancel';
          break;
        }
        return icon;
      }

    }

    window.customElements.define(PaperModalSit.is, PaperModalSit);
  </script>
</dom-module>
